/* stylelint-disable-next-line selector-max-combinators, selector-max-type */
:global body {
	background: #04070B;
	color: #FFF;
	display: flex;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

/* stylelint-disable-next-line selector-max-combinators, selector-max-type */
:global strong {
	font-weight: 400;
}
