.title {
	padding: 16px 0;
	font-size: 32px;
	font-weight: 300;
	color: #00c6a4;
	border-bottom: 1px solid rgba(0, 198, 164, 0.2);
}

.release {
	display: flex;
	width: 100%;
	padding: 16px 0;
	margin-bottom: 16px;
	border-bottom: 1px solid rgba(0, 198, 164, 0.2);
}

@media only screen and (max-width: 1280px) {
	.release {
		flex-direction: column;
		align-items: center;
	}
}

.left {
	flex: 0 0 320px;
	margin-right: 16px;
}

.stores {
	margin-top: 16px;
}

.button {
	display: block;
	padding: 8px 18px;
	margin-bottom: 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-shadow: #000 0 1px 1px;
	cursor: pointer;
	background: #005763;
	border-top: 1px solid #6fdadd;
	border-bottom: 1px solid transparent;
	border-radius: 3px;
}

.button:focus,
.button:hover {
	background: #07626f;
	border-top: 1px solid #7feaed;
}

.button:active {
	background: #07626f;
	border-top: 1px solid transparent;
	border-bottom: 1px solid #097180;
}

.right {
	flex: 1 1 auto;
}

.releaseName {
	margin: 0;
	font-size: 24px;
	font-weight: 300;
	color: #00c6a4;
}

@media only screen and (max-width: 1280px) {
	.releaseName {
		margin-top: 16px;
		text-align: center;
	}
}

.details {
	margin: 8px 0 24px;
}

@media only screen and (max-width: 1280px) {
	.details {
		margin-top: 24px;
		text-align: center;
	}
}

.vr {
	padding: 0 8px;
	color: #006874;
}

.tracks {
	width: 100%;
	border-spacing: 0;
}

.track,
.trackAlt {
	height: 40px;
}

.trackAlt {
	background: rgba(0, 90, 103, 0.1);
}

.trackNumber {
	width: 32px;
	padding: 0 8px 0 0;
	font-size: 24px;
	color: #005a67;
	text-align: right;
}
